/* Styling */
body {
    background: white;
}

@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

/* styles.css */
h2 {
    font-size: 4em;
}

h2 span:nth-child(odd) {
  color: #a10022;
  font-family: 'Archivo Narrow', sans-serif;

}